/target
.cargo
.cache/
lang-data
packaging/postmarketos/tmp/
packaging/postmarketos/src/
packaging/postmarketos/**/*.gz
packaging/postmarketos/pkg/*
packaging/postmarketos/packages/*
build/
runtime-lib/*
.clickable/*
